$main-color: #6b119d;
$secondary-color: #3a7ee9;
$third-color: #360158;
$text-color: #272B34;
$background-color: white;
$contrastive-letter-color: white;

html{
    box-sizing: border-box;
    background-color: white;
    color: $text-color;
}

img{
    width: 30px
}

a{
    color: $secondary-color;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    .page-container{
        .dashboard{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            div{
                color: $contrastive-letter-color;
                width: 20%;
                height: 50vh;
                box-shadow: 1px 1px 8px grey;
                background: linear-gradient(167deg, rgba(54,1,88,1) 0%, rgba(107,17,157,1) 52%, rgba(58,126,233,1) 100%);
                border-radius: 20px;
                position: relative;
                h3{
                    margin: 20px 20px;
                }
                p{
                    margin: 20px 20px;
                }
                a{
                    background-color: white;
                    width: 60%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 20px;
                    padding: 8px;
                    text-align: center;
                }
            }
        }
    }
}

header{
    background-color: $third-color;
    a{
        color: $background-color;
    }
}